.container {
    width: 100%;
    min-height: 100vh;
    background-color: #122948;
    position: relative;
    padding: 0 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.header img {
    height: 70%;
    object-fit: contain;
}

.header-foguete {
    height: 2.5rem;
    position: absolute;
    top: -50px;
    right: -30px;
}

.header-foguete img {
    height: 100%;
    object-fit: contain;
}

.header-raio {
    height: 2.5rem;
    position: absolute;
    bottom: -20px;
    left: -20px;
}

.header-raio img {
    height: 100%;
    object-fit: contain;
}

.title {
    font-family: 'Norpeth-Black';
    color: #fff;
    margin-top: 20px;
    width: 100%;
    position: relative;
    margin-top: 3rem;
}

.title h1,
.title h2 {
    width: 100%;
    margin: 0;
    text-align: justify;
    text-align-last: justify;
    white-space: nowrap;
}

.title h1 {
    font-size: clamp(2.6rem, 6vw, 2.8rem);
}

.title h2 {
    font-size: clamp(1.5rem, 6vw, 1.7rem);
}

.description {
    font-family: 'Norpeth-Medium';
    color: #fff;
    width: 100%;
    text-align: center;
}

.description p{
    font-size: clamp(1rem, 6vw, 1.2rem);
    margin: 0;
    margin-top: 10px;
    word-spacing: 0.3rem;
}



form {
    margin-top: 3rem;
    width: 100%;
    border-radius: 10px;
    background-color: #E6E6E6;
}


.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-label {
    margin-bottom: 5px;
    font-family: 'Norpeth';
    font-weight: 600;
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
}

.form-input {
    margin-bottom: 20px;
    padding: 8px;
    width: 80%;
    font-size: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Norpeth';
    font-weight: 400;
    color: #000;
    letter-spacing: 0px;
}

.form-input.invalid {
    border: 2px solid #ff0000;
}

.form-error {
    color: #ff0000;
    font-size: 0.7rem;
    margin-top: -15px;
    margin-bottom: 10px;
    font-family: 'Norpeth';
    font-weight: 500;
    text-align: center;
    width: 80%;
}

.image-container {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    margin: 20px;
}



.image-container img {
    object-fit: contain;
    width: 25%;
}

.button-container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-container button {
    font-family: 'Norpeth';
    font-weight: 700;
    letter-spacing: 0.2rem;
    padding: 10px 30px;
    font-size: 0.8rem;
    background-color: #000;
    color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.button-container .btn:disabled {
    cursor: not-allowed;
    background-color: #00000060;
}