* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norpeth';
    src: url('../assets/fonts/fonte/Norpeth Light_v2.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Norpeth';
    src: url('../assets/fonts/fonte/Norpeth Book_v2.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Norpeth';
    src: url('../assets/fonts/fonte/Norpeth Medium_v2.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Norpeth';
    src: url('../assets/fonts/fonte/The Northern Block Ltd - Norpeth DemiBold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Norpeth';
    src: url('../assets/fonts/fonte/Norpeth Bold_v2.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Norpeth';
    src: url('../assets/fonts/fonte/Norpeth Black_v2.otf') format('opentype');
    font-weight: 900;
}


html,
body {
    touch-action: pan-x pan-y;
    overscroll-behavior: contain;
}

body {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

@media (pointer: coarse) {

    html,
    body {
        user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        touch-action: manipulation;
    }
}

.header {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}